.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 19px 449px 0 0;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 300px;
  margin: -327px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}