.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-text-1 {
  margin: 8px 546px 0 -12px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 46px -13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: -12px;
  }
}